.hero-home, .bakery, .locations, .celebrations {
  width: 80%;
  margin: 50px auto 30px auto;
}

p {
  line-height: 25px;
  text-align: center;
}

.button-container button, .celebrations button {
  background-color: #b43257;
  color: #fff;
  padding: 16px 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 20px auto;
}

.button-container button:hover, .celebrations button:hover {
  background-color: #81094e;
  transition: ease-in-out 0.4s;
}

/* HERO */
.hero-home {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-top: 60px;
}

.hero-home-content {
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
  text-align: center;
}

.donut1 {
  grid-column: 1;
  grid-row: 2/2;
  height: 400px;
  margin: 50px auto 0 auto;
}

.hero-home-content h1 {
  font-weight: 300;
  font-size: 3rem;
}

.different {
  font-family: "Protest Riot";
}

.hero-home-content p {
  margin-top: 10px;
}

/* BAKERY */
.bakery {
  position: relative;
}

.bakery h2 {
  margin: 0 auto;
  text-align: center;
}

.bakery p {
  margin-top: 15px;
}

.gallery-container {
  position: relative;
}

.gallery-container img {
  position: relative;
  margin-top: 15px;
  max-width: 100%;
  border-radius: 50%;
  z-index: 1;
}

.bi-chevron-left, .bi-chevron-right {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  z-index: 10;
  color: #fff;
  cursor: pointer;
  font-size: 45px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 50%;
}

.bi-chevron-left {
  left: 0;
  transform: translate(0%, -50%);
}

.bi-chevron-right {
  right: 0;
  transform: translate(0%, -50%);
}

.button-container {
  text-align: center;
}

/* LOCATIONS */
.locations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.locations h2 {
  grid-column: span 2;
  text-align: center;
  margin: 20px auto 15px auto;
}

.locations p {
  margin: 10px 0;
  grid-column: span 2;
}

.locations-card {
  margin: 15px auto 0 auto;
  width: 100%;
  text-align: center;
  display: block;
  grid-column: span 2;
}

.tel, .bi-telephone {
  color: #573b34;
  font-size: 1rem;
}

.locations-card h3 {
  font-size: 1rem;
  display: inline;
  margin-right: 15px;
}

.delivery {
  grid-column: span 2;
  position: relative;
  margin-top: 30px;
}

.delivery img {
  width: 100%;
  position: relative;
  filter: brightness(35%);
  border-radius: 10px;
}

.delivery p {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 90%;
  transform: translate(-50%);
  z-index: 10;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 35px;
}

/* CELEBRATIONS */
.celebrations h2 {
  text-align: center;
  margin-bottom: 15px;
}

.celebrations p {
  margin-bottom: 10px;
}

.celebrations ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.celebrations ul img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 891px) {
  .donut1 {
    height: 500px;
  }
  .gallery-container {
    margin-left: auto;
    margin-right: auto;
  }
  .locations-card ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: 0 auto;
  }
  .locations-card ul li {
    grid-column: span 1;
  }
  .locations-card h3, .bi-telephone, .tel {
    font-size: 1.3rem;
  }

}
@media only screen and (min-width: 1200px) {
  .hero-home {
    grid-template-columns: 2fr 1fr;
  }
  .hero-home-content {
    grid-row: 1/2;
    margin-top: 200px;
  }
  .hero-home-content h1 {
    font-size: 4rem;
  }
  .donut1 {
    height: 600px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .bakery {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    margin-bottom: 120px;
  }
  .bakery-content {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 100px;
    margin-left: 30px;
  }
  .bakery-content h2, .bakery-content p {
    text-align: left;
  }
  .bakery h2, .locations h2, .celebrations h2 {
    font-size: 2rem;
  }
  .delivery {
    margin-bottom: 20px;
  }
  .gallery-container {
    grid-row: 1;
    grid-column: 1/2;
  }
  .button-container {
    grid-row: 1;
    grid-column: 2;
  }
  .button-container button {
    display: block;
    margin-top: 80px;
  }
  .locations-card ul {
    width: 100%;
  }
  .locations-card ul li {
    text-align: center;
  }
  .delivery p {
    font-size: 1.5rem;
  }
  .order-button, .celebrate {
    margin-top: 0;
  }
  .order, .celebrate-button {
    margin: 0 auto;
  }
  .celebrations {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1400px) {
  .hero-home, .bakery, .locations, .celebrations {
    width: 60%;
  }
  .hero-home-content {
    margin-top: 150px;
  }
  .hero-home-content h1 {
    font-size: 5rem;
  }
  .hero-home-content p {
    font-size: 1.5rem;
  }
  .donut1 {
    margin-top: 0px;
    height: 750px;
  }
  .celebrations ul {
    display: flex;
    justify-content: space-between;
  }
}