footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 100%;
    background-color: #d68c45;
    
}

.quick-links, .locations {
    margin-top: 10px;
}

.quick-links {
    grid-row: 1;
    grid-column: 1/6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.locations {
    grid-row: 2;
    grid-column: 1/6;
    display: flex;
    justify-content: center;
}

.social-media {
    grid-row: 3;
    grid-column: 2/5;
    display: flex;
    justify-content: center;
}

footer ul a {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    margin-right: 15px;
    color: #fff;
    font-size: 12px;
}

.bi-facebook, .bi-instagram, .bi-envelope-fill  {
    font-size: 16px;
}

/* IPAD SCREEN SIZE */
@media only screen and (min-width: 891px) {

    footer ul a {
        font-size: 14px;
    }
    .bi-facebook, .bi-instagram, .bi-envelope-fill  {
        font-size: 18px;
    }

}

/* DESKTOP SCREEN SIZE */
@media only screen and (min-width: 1200px) {}